/*** sectioning elements ***/

.body-index {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/peyton-manning-index.jpg");
  padding:10px;
}
.career-timeline-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/background-career-timeline.jpg");
  background-color: #132344;
}

.achievement-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/background-career-timeline.jpg");
  background-color: #132344;
}

.manning-jokes-body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/background-career-timeline.jpg");
  background-color: #132344;
}

header {

}

main {

}

footer {

}

.navbar-sticky{
  position: sticky;
  top: 0;
}

.navbar {
  z-index: 999;
}

.navbar-menu.menu-shown {
  background-color: #333;
}

.menu-toggle {
  color: #fff;
}

.menu-dismiss {
  color: #fff;
}
.menu-shown a:active,
.menu-shown a:hover {
  background-color: rgba(255,140,0,0.5);
  text-decoration: none;
  color: #ffffff;
  font-family: 'Play', bold;
  text-align: left;
  font-size: 20px;
}
.menu-shown a:link,
.menu-shown a:visited {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Play', bold;
  text-align: left;
  font-size: 20px;
}

section {

}

aside {

}

/**** content styles ***/

h1 {
color: #ff6600;
font-family: 'Play', bold;
text-align: left;
font-size: 40px;
}

h2 {
  color: #ffffff;
  font-family: 'Play', bold;
  text-align: left;
  font-size: 40px;
  text-decoration: underline;
}

h3 {
}

h4 {

}

h5 {

}

h6 {

}

p {
  color: #ffffff;
  font-family: 'Play';
  text-align: left;
  font-size: 35px;
  background-color:rgba(255,140,0,0.5);
}
.bold{
  font-family:'Play',bold;
}

blockquote {

}

ol {
  color: #ffffff;
  font-family: 'Play', bold;
  font-size: 30px;
}

ul {

}

li {
  color: #ffffff;
  font-family: 'Play', bold;
  font-size: 20px;
}
.margin-left{
    margin-left: 100px;
}
.margin-little-left{
    margin-left: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {
  outline-color: bl;
  outline-width: medium;
  outline-style: solid;
}


/*** link styles ***/

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

div.surprise {
  background-image: url('../img/ski-mask.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  position:fixed;
  bottom: -750px;
  right: -750px;
  width: 800px;
  height: 800px;
  transition: bottom 2s, right 2s;
}

div.surprise:hover {
  bottom: 0;
  right: 0;
}

img.arrow {
  opacity: 0.5;
  transition: opacity 2s;
}

div.surprise:hover img.arrow {
  opacity: 0.0;
}

@media (max-width:500px){
  h1 {
  color: #ff6600;
  font-family: 'Play', bold;
  text-align: left;
  font-size: 30px;
  }

  h2 {
    color: #ffffff;
    font-family: 'Play', bold;
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
  }
  p {
    color: #ffffff;
    font-family: 'Play';
    text-align: left;
    font-size: 25px;
    background-color:rgba(255,140,0,0.5);
  }
}
